USE [master]
GO
/****** Object:  Database [s3cr3tx]    Script Date: 3/18/2021 3:21:25 AM ******/
CREATE DATABASE [s3cr3tx]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N's3cr3tx', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\s3cr3tx.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N's3cr3tx_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\s3cr3tx_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [s3cr3tx].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [s3cr3tx]
GO
/****** Object:  User [YOURDOMAIN\YOURUSER]    Script Date: 3/18/2021 3:21:26 AM ******/
CREATE USER [YOURDOMAIN\YOURUSER] FOR LOGIN [YOURDOMAIN\YOURUSER] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [YOURDOMAIN\YOURUSER]
GO
/****** Object:  SqlAssembly [SecretxEnDec]    Script Date: 3/18/2021 3:21:26 AM ******/
CREATE ASSEMBLY [SecretxEnDec]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C0103000E6134600000000000000000E00022200B013000001200000006000000000000BE3000000020000000400000000000100020000000020000040000000000000006000000000000000080000000020000000000000300608500001000001000000000100000100000000000001000000000000000000000006C3000004F00000000400000A802000000000000000000000000000000000000006000000C000000342F00001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E74657874000000C4100000002000000012000000020000000000000000000000000000200000602E72737263000000A8020000004000000004000000140000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000001800000000000000000000000000004000004200000000000000000000000000000000A030000000000000480000000200050074250000C009000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001B3006006402000001000011000072010000700A050B0739C000000000720300007028050000060C040D092C6000730500000A1304001104087B060000046F0600000A0016280700000A280800000A16280700000A036F0900000A280A00000A130511041105166F0B00000A13061106280C00000A130711070A00DE0D11042C0811046F0D00000A00DC002B4900087B050000041308730500000A1309110911086F0600000A0016280700000A280800000A16280700000A110903280E00000A166F0F00000A280A00000A6F1000000A130A110A0A000038C200000004130B110B2C6900022805000006130C730500000A130D00110D110C7B060000046F0600000A0016280700000A280800000A16280700000A036F0900000A280A00000A130E110D110E166F0B00000A130F110F280C00000A131011100A00DE0D110D2C08110D6F0D00000A00DC002B5200022805000006131111117B050000041312730500000A1313111311126F0600000A0016280700000A280800000A16280700000A111303280E00000A166F0F00000A280A00000A6F1000000A131411140A000E040651281100000A066F1200000A0000DDBB000000131500722B000070731300000A131600731400000A1317001117725B0000706F1500000A0011171A6F1600000A0072770000707285000070731700000A1318729F00007011156F1800000A6F1900000A731700000A131911166F1A00000A00111711166F1B00000A0011176F1C00000A11186F1D00000A2611176F1C00000A11196F1D00000A2611176F1E00000A131A0E0472B50000705100DE0D11172C0811176F0D00000A00DC00DE0D11162C0811166F0D00000A00DC00DE002A417C0000020000002900000048000000710000000D0000000000000002000000E700000049000000300100000D0000000000000002000000BF01000084000000430200000D0000000000000002000000B70100009C000000530200000D000000000000000000000001000000A7010000A8010000BB000000080000012202281F00000A002A2602281F00000A00002ADA02281F00000A000002037D0100000402047D0200000402057D03000004020E047D04000004020E057D05000004020E067D060000042A00001B300600A90100000200001100722B000070731300000A0A00731400000A0B000772B90000706F1500000A00071A6F1600000A0072D500007002731700000A0C066F1A00000A0007066F1B00000A00076F1C00000A086F1D00000A26732000000A0D07732100000A13041104096F2200000A26730300000613051105096F2300000A166F2400000A6F2500000A166F2600000A6F2700000A1A9A6F1900000A7D030000041105096F2300000A166F2400000A6F2500000A166F2600000A6F2700000A1B9A6F1900000A7D04000004110516280700000A280800000A16280700000A096F2300000A166F2400000A6F2500000A166F2600000A6F2700000A1C9A6F1900000A6F2800000A280E00000A280A00000A6F1000000A7D05000004110516280700000A280800000A16280700000A096F2300000A166F2400000A6F2500000A166F2600000A6F2700000A1D9A6F1900000A6F2800000A280E00000A280A00000A6F1000000A7D060000041105096F2300000A166F2400000A6F2500000A166F2600000A6F2700000A1B9A6F1900000A7D0200000411051306DE16072C07076F0D00000A00DC062C07066F0D00000A00DC11062A0000004134000002000000130000007D010000900100000B00000000000000020000000C0000008F0100009B0100000B0000000000000042534A4201000100000000000C00000076342E302E33303331390000000005006C00000024030000237E000090030000FC03000023537472696E6773000000008C070000E40000002355530070080000100000002347554944000000800800004001000023426C6F620000000000000002000001571502000900000000FA013300160000010000001D0000000300000006000000050000000C0000002800000004000000020000000100000002000000000080010100000000000600E700C00206000701C0020600BD00AD020F00E0020000060028039C010A00D1008C0206005702CB0306002F029C010A001A0242030A005B0042030A00700242030A002F032E000A007D0242030600A301CB03060028017603060068039C01060075009C010A009A038C020A009D008C020A00510039020A00A9002E000A000D0239020A00D50142030A00800239020A00C1012E000A006B002E000A00EC012E000A00A5032E0006006B019C0100000000160000000000010001000100100043001203150001000100000010008C00120315000100030006000100EA0006000700EA000600C103EA0006007201EA000600E803EA0006005302EA0050200000000096004600ED0001003C23000000008618A702060006004523000000008618A702060006004F23000000008618A702F70006008823000000009600810001010C00000001007A01000002007003000003002900000004003703020005009203000001000400000002000A0000000300C40300000400750100000500AD03000006004C02000001007A010900A70201001100A70206001900A7020A003100A70206003900A7020600710051013E0079002501430079000D0049007900FA024E00790068035400390060035F008100420167008900B5000600810031016D00390058035F00790068017300910094007900990066003E004900A7023E005100A7020600A10082033E00A100A5007E005900A7028400410028028A0029005F018F00B100BC0106005100FE019300510003039900B9004D009E00A100EB03A5002900A70206006100A70206006900A702BA00C1008E01C0006100EF02C600C9009301CB00D1001F03D100D9009301D600E100B303DC00E900B7018F002000230038012E000B0007012E00130010012E001B002F011000A9000480000000000000000000000000000000001F000000040000000000000000000000E1003A0000000000040000000000000000000000E1002E00000000000000007374724731007374724732006765745F55544638003C4D6F64756C653E0053656372657478444200456F72440053797374656D2E44617461006D73636F726C696200757370456E6344656300416464004462436F6D6D616E640053716C436F6D6D616E640053656E6400446174615461626C650049446973706F7361626C65004765744562756E646C65006562756E646C65006765745F506970650053716C50697065007365745F436F6D6D616E645479706500446973706F73650044656275676761626C654174747269627574650053716C50726F63656475726541747472696275746500436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C69747941747472696275746500476574456E636F64696E670046726F6D426173653634537472696E6700546F426173653634537472696E670046726F6D586D6C537472696E6700546F537472696E6700476574537472696E67007374726175746800656D61696C005365637265747844422E646C6C0046696C6C006765745F4974656D0053797374656D004173796D6D6574726963416C676F726974686D005472696D004F70656E00446174615461626C65436F6C6C656374696F6E0053716C506172616D65746572436F6C6C656374696F6E0044617461526F77436F6C6C656374696F6E007365745F436F6E6E656374696F6E004462436F6E6E656374696F6E0053716C436F6E6E656374696F6E0047657442617365457863657074696F6E0053797374656D2E446174612E436F6D6D6F6E007374724B7970006B79700052534143727970746F5365727669636550726F76696465720053716C506172616D657465720053716C4461746141646170746572004D6963726F736F66742E53716C5365727665722E536572766572002E63746F720053797374656D2E446961676E6F73746963730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300446562756767696E674D6F646573006765745F5461626C6573004765744279746573006765745F506172616D657465727300504B53514C53656372657473006765745F526F7773004F626A656374004461746153657400626C6E44656661756C740053797374656D2E446174612E53716C436C69656E74004465637279707400456E637279707400436F6E7665727400696E7075740053797374656D2E54657874007365745F436F6D6D616E645465787400737472546578740053716C436F6E746578740044617461526F77007374724B79006765745F4974656D4172726179007374726170696B65790053797374656D2E53656375726974792E43727970746F677261706879006B7900457865637574654E6F6E517565727900000001002770006B0065006C006C00790040007A00650072006F006E006F007200740068002E0069006F00002F63006F006E007400650078007400200063006F006E006E0065006300740069006F006E003D007400720075006500001B640062006F002E0069006E0073006500720074004C006F006700000D73006F007500720063006500001945006E0063004400650063005F005300700072006F00630000156C006F0067004D0065007300730061006700650000032000001B640062006F002E00670065007400420075006E0064006C006500000B65006D00610069006C00000000007B3965C6D7ED63409917E48E18BEF0FB000420010108032000010520010111112D071B0E02120C02121D1D051D050E0E121D0E02120C121D1D051D050E120C0E121D0E122112251229122D122D08042001010E050001123D08040000123D0520011D050E0A00031D05123D123D1D050720021D051D05020500010E1D050500011D050E0520010E1D05040000124D052001011155052002010E1C04200012210320000E052001011225042000125D062001122D122D0320000810070712251229122D12311235120C120C0520010112290520010812310420001265052001126908042000126D0520011271080420001D1C08B77A5C561934E08902060E090005010E0E0202100E092006010E0E0E0E0E0E050001120C0E0801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F7773010801000701000000000401000000000000000000000E61346000000000020000001C010000502F00005011000052534453FD4263920F8D154C838674DFAF03227801000000433A5C55736572735C7061747269636B6B656C6C795C736F757263655C7265706F735C5365637265747844425C6F626A5C44656275675C5365637265747844422E706462000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000943000000000000000000000AE300000002000000000000000000000000000000000000000000000A0300000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF250020001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001001000000018000080000000000000000000000000000001000100000030000080000000000000000000000000000001000000000048000000584000004C02000000000000000000004C0234000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000000000000000000000000000000003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B004AC010000010053007400720069006E006700460069006C00650049006E0066006F0000008801000001003000300030003000300034006200300000002C0002000100460069006C0065004400650073006300720069007000740069006F006E000000000020000000300008000100460069006C006500560065007200730069006F006E000000000030002E0030002E0030002E00300000003C000E00010049006E007400650072006E0061006C004E0061006D00650000005300650063007200650074007800440042002E0064006C006C0000002800020001004C006500670061006C0043006F00700079007200690067006800740000002000000044000E0001004F0072006900670069006E0061006C00460069006C0065006E0061006D00650000005300650063007200650074007800440042002E0064006C006C000000340008000100500072006F006400750063007400560065007200730069006F006E00000030002E0030002E0030002E003000000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000030002E0030002E0030002E0030000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000C000000C03000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = UNSAFE
GO
ALTER ASSEMBLY [SecretxEnDec]
ADD FILE FROM 0x4D6963726F736F667420432F432B2B204D534620372E30300D0A1A445300000000020000020000001F000000A8000000000000001E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000C0FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF38000080FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF0BCA3101380000000010000000100000000000001100FFFF04000000FFFF03000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000BCA3101380000000010000000100000000000001200FFFF04000000FFFF0300000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000942E31010E61346001000000FD4263920F8D154C838674DFAF03227800000000000000000100000001000000000000000000000000000000DC51330100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000BCA310138000000001000000010000000000000FFFFFFFF04000000FFFF030000000000FFFFFFFF00000000FFFFFFFF00000000FFFFFFFF0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000BCA310138000000001000000010000000000000FFFFFFFF04000000FFFF030000000000FFFFFFFF00000000FFFFFFFF00000000FFFFFFFF000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000F862513FC607D311905300C04FA302A1C4454B99E9E6D211903F00C04FA302A10B9D865A1166D311BD2A0000F80849BD0FD02988B8111342878B770E8597AC162000000000000000F0EB39D73B22676A9F9964144E2ADE46FD2E8F38C4BD2D14D2B5B458000E7BD7000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000F862513FC607D311905300C04FA302A1C4454B99E9E6D211903F00C04FA302A10B9D865A1166D311BD2A0000F80849BD0FD02988B8111342878B770E8597AC162000000000000000820D57E19110B281BB9A191D9958391EC159094982937744C3FEB26D48E9929B00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004C040000000000004C040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FEEFFEEF010000003801000000433A5C55736572735C7061747269636B6B656C6C795C736F757263655C7265706F735C5365637265747844425C536563726574585370726F63456E634465632E63730000633A5C75736572735C7061747269636B6B656C6C795C736F757263655C7265706F735C7365637265747864625C736563726574787370726F63656E636465632E637300433A5C55736572735C7061747269636B6B656C6C795C417070446174615C4C6F63616C5C54656D705C2E4E45544672616D65776F726B2C56657273696F6E3D76342E352E53716C436C72417474726962757465732E637300633A5C75736572735C7061747269636B6B656C6C795C617070646174615C6C6F63616C5C74656D705C2E6E65746672616D65776F726B2C76657273696F6E3D76342E352E73716C636C72617474726962757465732E63730007000000000000004400000000000000450000008800000001000000E00000000500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001BE23001AC0000006821F7408709D7010100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000004000000010000000300000000000000E0000000280000001BE23001154EAB02680000008800000044000000E000000065000000000000000000000045000000280000001BE230014BB6C81C6800000001000000440000004500000065000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000040000002E002A1100000000900500000000000064020000000000000000000001000006000000000100000000456E63446563001600031104000000000500006402000000000000010000000A0024115553797374656D00120024115553797374656D2E44617461000000001A0024115553797374656D2E446174612E53716C436C69656E7400001E002411554D6963726F736F66742E53716C5365727665722E536572766572001A0024115553797374656D2E446174612E53716C5479706573000000220024115553797374656D2E53656375726974792E43727970746F677261706879000000120024115553797374656D2E54657874000000001600031134000000F8030000A201000001000000010000001A00201100000000010000110000000000000000726573756C74000016000311FC00000084020000BB00000010000000010000001600201102000000010000110000000000000000656200001600031130010000080200005C00000022000000010000001A0020110400000001000011000000000000000072534131000000001600031160010000040200004600000029000000010000001E00201105000000010000110000000000000000627974496E707574000000001A00201106000000010000110000000000000000707562456E6300001A00201107000000010000110000000000000000737472423634000002000600020006001600031130010000800200004900000081000000010000001E002011080000000100001100000000000000007374724236345072690000001A0020110900000001000011000000000000000072534132000000001E0020110A000000010000110000000000000000737472696E67446563000000020006000200060016000311FC0000006403000067000000D700000001000000160020110C000000010000110000000000000000656200001600031188020000600300005D000000E0000000010000001A0020110D000000010000110000000000000000725341310000000016000311B80200005C03000047000000E7000000010000001E0020110E000000010000110000000000000000627974496E707574000000001A0020110F000000010000110000000000000000707562456E6300001A00201110000000010000110000000000000000737472423634000002000600020006000200060016000311FC000000F40300005200000040010000010000001600201111000000010000110000000000000000656200001E002011120000000100001100000000000000007374724236345072690000001A0020111300000001000011000000000000000072534132000000001E00201114000000010000110000000000000000737472696E6744656300000002000600020006001600031134000000FC040000BB000000A80100000100000016002011150000000100001100000000000000006578000016000311FC030000F8040000B5000000AB010000010000001600201116000000010000110000000000000000636F6E00160003112C040000F404000098000000B8010000010000001A00201117000000010000110000000000000000636F6D6D616E6400160003115C040000F004000082000000BF01000001000000160020111800000001000011000000000000000070310000160020111900000001000011000000000000000070320000160020111A0000000100001100000000000000006900000002000600020006000200060002000600020006008A000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004020000040000001000000002000000070000000406000158000000013B02590180990280DF0181390181D801829A0182E60183C70184F30185720286B70186F10187460187D90188970188DF0189AB0189E7018B0B018B82018D2E018D72018DE2018EC8018F210190480002000600F2000000F00300000000000001000100640200000000000052000000E4030000000000000E0000800100000010000080020000001100008008000000120000800A000000EEEFFE80100000001300008011000000140000801C000000150000801E000000EEEFFE802100000016000080220000001700008029000000180000802A00000019000080380000001A000080560000001B000080620000001C0000806B0000001D0000806E0000001E00008071000000EEEFFE807D000000EEEFFE807E0000001F0000807F000000EEEFFE80810000002100008082000000220000808A0000002400008091000000250000809B00000026000080C600000027000080C900000028000080CA00000029000080CB000000EEEFFE80D00000002A000080D3000000EEEFFE80D70000002B000080D80000002C000080E00000002D000080E70000002E000080E80000002F000080F700000030000080150100003100008021010000320000802A010000330000802D0100003400008030010000EEEFFE803C010000EEEFFE803D010000360000803E010000EEEFFE8040010000380000804101000039000080490100003A000080520100003C000080590100003D000080630100003E0000808E0100003F000080910100004000008092010000420000809601000043000080A201000045000080A801000046000080AA01000047000080AB01000048000080B701000049000080B80100004B000080BF0100004C000080C00100004D000080CD0100004E000080D60100004F000080E701000050000080FF010000510000800702000052000080110200005300008020020000540000802F020000550000803802000056000080400200005700008043020000EEEFFE804F020000EEEFFE80500200005800008053020000EEEFFE805F020000EEEFFE806002000059000080630200005A00008009000A000D000E001100240011002000000000001100120015004D0015001E00000000001500160020005E0019001A001D0038001D00C1001D004B001D0053001D002D0019001A0000000000000000001500160000000000150016001900320019005800190037001900F70019002C0015001600110012000000000016001F00000000001100120015003C001C005A0015001600190034001900BD001900470019004F001900290015001600000000000000000011001200000000001100120015003C0015002E0015005400150033001500F30015002800110012001100220011002E000D000E000D0021000D000E0018005800110012001C004100150016001900400019004B001900580019006D001900240019003200190034001900340019003B00190028001500160000000000000000001100120000000000000000000D000E0009000A00F40000000800000001000000000000000800000000000000180000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000F4000000080000008800000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000040000002E002A11000000006400000000000000090000000000000000000000030000066402000001000000002E63746F7200002E000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004010000040100000C00000001000006020006002E002A1100000000C800000000000000360000000000000000000000040000066D02000001000000002E63746F7200002E000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004010000040100000C000000010000060200060032002A11000000005002000000000000A9010000000000000000000005000006A302000001000000004765744562756E646C650016000311CC00000000020000A9010000A3020000010000001600031100010000FC010000A5010000A4020000010000001600201100000000020000110000000000000000636F6E001600031118010000F80100008E010000B0020000010000001A00201101000000020000110000000000000000636F6D6D616E64001600031148010000F40100007D010000B602000001000000160020110200000002000011000000000000000070310000160020110300000002000011000000000000000064730000160020110400000002000011000000000000000064610000160020110500000002000011000000000000000065620000020006000200060002000600020006004A000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004020000040100000C00000001000006040600011C000000012501813F0182150182DB01831301837416010002000600F20000003C000000640200000100010009000000000000000300000030000000000000006600008007000000660000800800000066000080090019001A001B001C001D00F2000000840000006D020000010001003600000000000000090000007800000000000000680000800700000069000080080000006A0000800F0000006B000080160000006C0000801D0000006D000080250000006E0000802D0000006F00008035000000700000800900660009000A000D0018000D0018000D0020000D001C000D0018000D001A0009000A00F200000050010000A302000001000100A9010000000000001A00000044010000000000007300008001000000740000800C000000750000800D000000780000801300000079000080140000007A000080200000007B000080280000007C000080340000007D0000803B0000007E000080430000007F000080500000008000008056000000810000805E0000008200008067000000830000806E000000840000809800000085000080C200000086000080110100008700008060010000880000808A0100008900008090010000EEEFFE809A010000EEEFFE809B010000EEEFFE80A5010000EEEFFE80A60100008C00008009000A00140054000D000E0018003D001100120015003C0015004700150049001500200015002E0015003000150030001500450015002100150030001500510015004F001500C8001500C90015004D0015001F000000000000000000000000000000000009000A00F40000000800000001000000000000001800000030000000440000005C0000007000000088000000A40000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FFFFFFFF1A092FF1400000002002000045000000010000005D0000000100000031000000010000001900000001000000890000000100000001000000010000007100000001000000A500000001000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000010000020000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000040000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000C00000024000000300000003C0000004800000054000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001600251100000000040000000100456E634465630000000016002911000000000400000001003036303030303031000012002511000000000400000002002E63746F720016002911000000000400000002003036303030303033000012002511000000006800000002002E63746F72001600291100000000680000000200303630303030303400001A00251100000000CC00000002004765744562756E646C65000000001600291100000000CC00000002003036303030303035000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000FFFFFFFF1A092FF10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FFFFFFFF77093101010000000E000C8E0F00E6641000020044010000740000002C000000B8000000000000000000000016000000190000000000EEC00000000000000000FFFF000000000000FFFFFFFF00000000FFFF0000000000000000000000000B0094050000000000000804000001000000000000000000000000000000504B53514C536563726574732E757370456E634465630044333339303742380000000000FFFF000000000000FFFFFFFF00000000FFFF0000000000000000000000000D0054020000000000003802000001000000000000000000000000000000504B53514C536563726574732E6562756E646C6500444531384432313600000000000000FFFF000000000000FFFFFFFF00000000FFFF0000000000000000000000000C00040000000000000010000000010000000000000000000000000000003C44616E676C696E67446F63756D656E74732A32323333343362642D613835392D343161332D393063302D3964666131303166316139353E0037464244413244320000002DBA2EF10100000000000000640200000000000000000000000000000000000001000000640200000900000000000000010000000000000000000000010000006D020000360000000000000001000000000000000000000001000000A3020000A901000000000000010000000000000000000000020002000D01000000000100FFFFFFFF000000004C0400000802000000000000FFFFFFFF00000000FFFFFFFF03000300000001000200010001000100000000000000000043000000433A5C55736572735C7061747269636B6B656C6C795C736F757263655C7265706F735C5365637265747844425C536563726574585370726F63456E634465632E637300433A5C55736572735C7061747269636B6B656C6C795C417070446174615C4C6F63616C5C54656D705C2E4E45544672616D65776F726B2C56657273696F6E3D76342E352E53716C436C72417474726962757465732E63730000FEEFFEEF010000000100000000010000000000000000000000FFFFFFFFFFFFFFFFFFFF0A00FFFFFFFFFFFFFFFFFFFF0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000942E31010E61346001000000FD4263920F8D154C838674DFAF032278D30000002F4C696E6B496E666F002F6E616D6573002F7372632F686561646572626C6F636B002F7372632F66696C65732F633A5C75736572735C7061747269636B6B656C6C795C736F757263655C7265706F735C7365637265747864625C736563726574787370726F63656E636465632E6373002F7372632F66696C65732F633A5C75736572735C7061747269636B6B656C6C795C617070646174615C6C6F63616C5C74656D705C2E6E65746672616D65776F726B2C76657273696F6E3D76342E352E73716C636C72617474726962757465732E637300050000000A000000010000002F0000000000000022000000080000001100000007000000000000000500000070000000090000000A0000000600000000000000DC513301000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000002000000037010000380000000B030000380000000000000068010000AC000000680000006800000028000000A809000018000000A8040000700200002C000000BC000000030000001C000000060000001A0000001B000000070000000B0000000C00000008000000090000000A0000000D0000000E0000000F0000001000000011000000120000001300000014000000150000001600000017000000190000001800000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
AS N'SecretxDB.pdb'
GO
/****** Object:  Table [dbo].[Auth]    Script Date: 3/18/2021 3:21:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auth](
	[vID] [bigint] IDENTITY(1,1) NOT NULL,
	[vEmail] [nvarchar](256) NOT NULL,
	[vIsValid] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[UpdatedBy] [nvarchar](256) NOT NULL,
	[AuthCode] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Auth] PRIMARY KEY CLUSTERED 
(
	[vID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[files]    Script Date: 3/18/2021 3:21:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[files](
	[fileID] [bigint] IDENTITY(1,1) NOT NULL,
	[fileOwnerEmail] [nvarchar](256) NOT NULL,
	[fileOriginalName] [nvarchar](256) NOT NULL,
	[fileDirPath] [nvarchar](512) NOT NULL,
	[fileDbPath] [nvarchar](512) NOT NULL,
	[fileVirtualPath] [nvarchar](512) NULL,
	[fileDescription] [nvarchar](512) NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_files] PRIMARY KEY CLUSTERED 
(
	[fileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m]    Script Date: 3/18/2021 3:21:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m](
	[mID] [bigint] IDENTITY(1,1) NOT NULL,
	[mGuid1] [nvarchar](50) NOT NULL,
	[mGuid2] [nvarchar](50) NOT NULL,
	[mEmail] [nvarchar](256) NOT NULL,
	[mAPIKey] [nvarchar](256) NOT NULL,
	[mAuthorization] [nvarchar](512) NOT NULL,
	[mPrivateKey] [nvarchar](max) NOT NULL,
	[mPublicKey] [nvarchar](max) NOT NULL,
	[mCreateTime] [datetime] NOT NULL,
	[mPmHash] [nvarchar](256) NULL,
	[mUpdateTime] [datetime] NULL,
 CONSTRAINT [PK_m] PRIMARY KEY CLUSTERED 
(
	[mID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLog]    Script Date: 3/18/2021 3:21:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLog](
	[LogID] [bigint] IDENTITY(1,1) NOT NULL,
	[LogSource] [nvarchar](50) NOT NULL,
	[LogMessage] [nvarchar](max) NOT NULL,
	[LogCreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_tblLog] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Auth] ADD  CONSTRAINT [DF_Auth_vIsValid]  DEFAULT ((0)) FOR [vIsValid]
GO
ALTER TABLE [dbo].[Auth] ADD  CONSTRAINT [DF_Auth_CreateDate]  DEFAULT (getutcdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Auth] ADD  CONSTRAINT [DF_Auth_UpdateDate]  DEFAULT (getutcdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[files] ADD  CONSTRAINT [DF_files_CreateDate]  DEFAULT (getutcdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[m] ADD  CONSTRAINT [DF_m_mCreateTime]  DEFAULT (getutcdate()) FOR [mCreateTime]
GO
ALTER TABLE [dbo].[tblLog] ADD  CONSTRAINT [DF_tblLog_LogCreateDate]  DEFAULT (getutcdate()) FOR [LogCreateDate]
GO
/****** Object:  StoredProcedure [dbo].[checkAuth]    Script Date: 3/18/2021 3:21:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[checkAuth]
(@APIKey nvarchar(256),
@Authorization nvarchar(512),
@email nvarchar(256))
with recompile
as set nocount on
declare @result int 
set @result = (Select count(*) from dbo.Auth where vIsValid = 1 and vEmail = @email)
if @result > 0
begin
Select count(*) as "cnt" from dbo.m where mEmail = @email and mAPIKey = @APIKey and mAuthorization = @Authorization ;
End
else
Begin
Select 0 as "cnt"
End
GO
/****** Object:  StoredProcedure [dbo].[EncDec]    Script Date: 3/18/2021 3:21:26 AM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[EncDec]
	@email [nvarchar](max),
	@input [nvarchar](max),
	@EorD [bit],
	@blnDefault [bit],
	@strText [nvarchar](max) OUTPUT
WITH EXECUTE AS CALLER
AS
EXTERNAL NAME [SecretxEnDec].[PKSQLSecrets.uspEncDec].[EncDec]
GO
/****** Object:  StoredProcedure [dbo].[EorD]    Script Date: 3/18/2021 3:21:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[EorD]
@Auth nvarchar(512),
@APIToken nvarchar(256),
 @email nvarchar(max),
 @input nvarchar(max),
 @EorD bit,
 @blnDefault bit,
 @strOutput nvarchar(max) output

-- TODO: Set parameter values here.
with recompile as
set nocount on
Declare @isAuth int
declare @strText nvarchar(max)
Set @isAuth = (Select count(*) from dbo.m where mEmail = @email and mAuthorization = @Auth and mAPIKey = @APIToken)
if @isAuth > 0 
Begin
EXECUTE [dbo].[EncDec] 
   @email
  ,@input
  ,@EorD
  ,@blnDefault
  ,@strText OUTPUT
set @strOutput = @strText
End
else
Begin
set @strOutput = N''
End
GO
/****** Object:  StoredProcedure [dbo].[getBundle]    Script Date: 3/18/2021 3:21:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getBundle] 
	@email nvarchar(256)
	--@mAPIKey nvarchar(256),
	--@mAuthorization nvarchar(512)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [mID], [mGuid1], [mGuid2], [mEmail], [mAPIKey], [mAuthorization], [mPrivateKey], [mPublicKey]
	from dbo.m
	where mEmail = @email --and mAPIKey = @mAPIKey and mAuthorization = @mAuthorization
END
GO
/****** Object:  StoredProcedure [dbo].[insertAuth]    Script Date: 3/18/2021 3:21:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[insertAuth](
@Email nvarchar(256),
@IsValid bit,
@CreatedBY nvarchar(256),
@AuthCode nvarchar(50)
)
with recompile
as 
set nocount on
declare @timestamp datetime
set @timestamp = (Select GETUTCDATE())

INSERT INTO [dbo].[Auth]
           ([vEmail]
           ,[vIsValid]
           ,[CreateDate]
           ,[UpdateDate]
           ,[CreatedBy]
           ,[UpdatedBy]
           ,[AuthCode])
     VALUES
           (@Email
           ,@IsValid
           ,@timestamp
           ,@timestamp
           ,@CreatedBY
           ,@CreatedBY
           ,@AuthCode)
GO
/****** Object:  StoredProcedure [dbo].[insertFile]    Script Date: 3/18/2021 3:21:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[insertFile](
@fileOwner nvarchar(256),
           @fileOrigName nvarchar(256)
           ,@fileDirPath nvarchar(512)
           ,@fileDbPath nvarchar(512)
           ,@fileVirtualPath nvarchar(512) = null
           ,@fileDescription nvarchar(512) = null
           )
		   With Recompile as
		   set nocount on
		   declare @CreateDate datetime
		   set @CreateDate = (Select GETUTCDATE())
		   
INSERT INTO [dbo].[files]
           ([fileOwnerEmail]
           ,[fileOriginalName]
           ,[fileDirPath]
           ,[fileDbPath]
           ,[fileVirtualPath]
           ,[fileDescription]
           ,[CreateDate])
     VALUES
           (@fileOwner,
           @fileOrigName
           ,@fileDirPath
           ,@fileDbPath
           ,@fileVirtualPath
           ,@fileDescription
		   ,@CreateDate)
GO
/****** Object:  StoredProcedure [dbo].[insertLog]    Script Date: 3/18/2021 3:21:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[insertLog]
@Source nvarchar(50),
@logMessage nvarchar(max)
with recompile
as 
set nocount on

INSERT INTO [dbo].[tblLog]
           ([LogSource]
           ,[LogMessage]
           ,[LogCreateDate])
     VALUES
           (@Source
           ,@logMessage
           ,GETUTCDATE())
GO
/****** Object:  StoredProcedure [dbo].[InsertM]    Script Date: 3/18/2021 3:21:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[InsertM](
@Guid1 nvarchar(50),
@Guid2 nvarchar(50),
@Email nvarchar(256),
@APIKey nvarchar(256),
@Authorization nvarchar(512),
@PmHash nvarchar(256),
@PrivateKey nvarchar(max),
@PublicKey nvarchar(max)
)
with recompile
as
set nocount on
declare @valid bit, @TimeStamp datetime
set @TimeStamp = (Select GETUTCDATE())
set @valid = (Select vIsValid from dbo.Auth where vEmail = @Email)
if @Valid = 1
Begin

INSERT INTO [dbo].[m]
           ([mGuid1]
           ,[mGuid2]
           ,[mEmail]
           ,[mAPIKey]
           ,[mAuthorization]
           ,[mPrivateKey]
           ,[mPublicKey]
           ,[mCreateTime]
		   ,[mPmHash]
		   ,[mUpdateTime])
     VALUES
           (@Guid1
           ,@Guid2
           ,@Email
           ,@APIKey
           ,@Authorization
           ,@PrivateKey
           ,@PublicKey
           ,@TimeStamp
		   ,@PmHash
		   ,@TimeStamp)
		   return 1
End
else
begin
return 0
end
GO
/****** Object:  StoredProcedure [dbo].[isValidEmail]    Script Date: 3/18/2021 3:21:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[isValidEmail] 
	-- Add the parameters for the stored procedure here
	(@email nvarchar(256)) 
as	
Begin
SET NOCOUNT ON;
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

    -- Insert statements for procedure here
	SELECT Count(*) from dbo.Auth where vEmail = @email and vIsValid = 1;
End
GO
/****** Object:  StoredProcedure [dbo].[USP_GetBundle_M]    Script Date: 3/18/2021 3:21:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_GetBundle_M] 
	@mEmail nvarchar(256),
	@mAPIKey nvarchar(256),
	@mAuthorization nvarchar(512)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [mID], [mGuid1], [mGuid2], [mEmail], [mAPIKey], [mAuthorization], [mPrivateKey], [mPublicKey]
	from dbo.m
	where mEmail = @mEmail and mAPIKey = @mAPIKey and mAuthorization = @mAuthorization
END
GO
USE [master]
GO
